// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
p{
    font-size:30px;
    font-weight: bold;
    font-family: fantasy;
    color: red;
    text-align: center;
}